<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="public/Bootstrap/CSS/bootstrap.min.css">
  <link rel="stylesheet" href="public/Bootstrap/CSS/mainstyle.css">

  <!-- javascript CSS -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,100;1,200;1,800&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
  
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="public/js/bootstrap.min.js"></script>
  <title>Covid-19</title>
</head>

<body>
  <center>
    <div style="max-width:1440px;width:100%;">
      <div class='TopNavigation'>
        <header class="navigation" style="max-width:1180px;">
<<<<<<< HEAD
            <div class="bottomHeader">
              <div class="container-fluid">
                <nav class="navbar navbar-dark  navbar-expand-md">
                  <div class="logo">
                   <a class="navbar-brand m-3" style="font-weight: 900;" href="/"> <span style="color:rgb(1, 79, 224)">Covid</span>-19<span
                      class="logo-text" style="color:red"> Alert</span></a>
                 </div>
                  <div class="spacer"></div>
                  <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
                  <div class="collapse navbar-collapse" id="navbarToggler">
                    <ul class="navbar-nav">
                      <li class="nav-item ">
                        <a class="nav-link" href="/">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link active" href="/covid">Covid-19</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/awareness">Awareness</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/teams">Teams</a>
                      </li>
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
        </header>
        </div>
        <br/>
        <section class='covid-19-section'>
          <div class="container">
              <div class="covid-section-1" >
                <div class="row">
                  <div class="col-lg-4">
                      <img  class="img-fluid" src="images/covid19.png" alt="corona-pic" width="350px" height="370px"/>
                  </div>
                  <div class="col-lg-8">
                      <h2 style="text-decoration:underline;">What is Covid-19</h2>
                      <p class="text-justify"> Most people infected with the COVID-19 virus will experience mild to moderate respiratory illness
                      and recover without requiring special treatment. Older people, and those with underlying medical
                      problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more
                      likely to develop serious illness. Protect yourself and others from infection by washing your hands
                      or using an alcohol based rub frequently and not touching your face. The COVID-19 virus spreads primarily 
                      through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so it’s 
                      important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
                    </p>
                  </div>
=======
          <div class="bottomHeader">
            <div class="container-fluid">
              <nav class="navbar navbar-dark  navbar-expand-md">
                <div class="logo">
                  <a class="navbar-brand m-3" style="font-weight: 900;" href="/"> <span
                      style="color:rgb(1, 79, 224)">Covid</span>-19<span class="logo-text" style="color:red">
                      Alert</span></a>
                </div>
                <div class="spacer"></div>
                <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span
                    class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarToggler">
                  <ul class="navbar-nav">
                    <li class="nav-item ">
                      <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="/covid">Covid-19</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/awareness">Awareness</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/teams">Teams</a>
                    </li>
                  </ul>
>>>>>>> bf2fc43d72c1c5914650aa99cf227ae3250043e6
                </div>
              </nav>
            </div>
          </div>
        </header>
      </div>
      <br />
      <section class='covid-19-section'>
        <div class="container">
          <div class="covid-section-1">
            <div class="row">
              <div class="col-lg-4">
                <img class="img-fluid" src="public/images/covid19.png" alt="corona-pic" width="350px" height="370px" />
              </div>
              <div class="col-lg-8">
                <h2 style="text-decoration:underline;">What is Covid-19</h2>
                <p class="text-justify"> Most people infected with the COVID-19 virus will experience mild to moderate
                  respiratory illness
                  and recover without requiring special treatment. Older people, and those with underlying medical
                  problems like cardiovascular disease, diabetes, chronic respiratory disease, and cancer are more
                  likely to develop serious illness. Protect yourself and others from infection by washing your hands
                  or using an alcohol based rub frequently and not touching your face. The COVID-19 virus spreads
                  primarily
                  through droplets of saliva or discharge from the nose when an infected person coughs or sneezes, so
                  it’s
                  important that you also practice respiratory etiquette (for example, by coughing into a flexed elbow).
                </p>
              </div>
            </div>
          </div>
          <br />
          <div class="covid-section-2">
            <div class="row">
              <div class="col-lg-8">
                <h2 style="text-decoration:underline" class="text-center">Prevention Of Covid-19</h2>
                <p class="text-justify">
                  To prevent infection and to slow transmission of COVID-19, do the following:Wash your hands regularly
                  with soap and water, or clean them with alcohol-based sanitizer.Maintain atleast 1m distance
                  between you and people coughing or sneezing.Avoid touching your face.Cover your mouth and nose when
                  coughing or sneezing.Stay home if you feel unwell.Refrain from smoking and other activities that
                  weaken the lungs.Practice physical distancing by avoiding unnecessary travel and staying away from
                  large groups of people.
                </p>
              </div>
              <div class="col-lg-4">
                <img class="img-fluid" src="public/images/covid-2.png" alt="corona-pic" width="350px" height="370px" />
              </div>
            </div>
          </div>
          <br />
          <div class="covid-section-3">
            <div class="row">
              <div class="col-lg-4">
                <img class="img-fluid" src="public/images/covid-3.png" alt="corona-pic" width="350px" height="370px" />
              </div>
              <div class="col-lg-8">
                <h2 style=" font-weight:700px;text-decoration:underline;" class="text-center">Symptoms Of Covid-19</h2>
                <p class="text-justify">
                  COVID-19 affects different people in different ways.Most infected people will develop mild to
                  moderate illness.Most common symptoms: Fever,Less common symptoms :aches and pains,sore throat,
                  diarrhoea, loss of taste or smell,a rash on skin or discolouration of fingers or toes.Serious
                  symptoms: Difficulty breathing or shortness of breath.chest pain or pressure.loss of speech or
                  movement Seek immediate medical attention if you have serious symptoms.Always call before visiting
                  your doctor or health facility. People with mild symptoms who are otherwise healthy should manage
                  their
                  symptoms at home.On average it takes 5–6 days from when someone is infected with the virus for
                  symptoms
                  to show, however it can take up 1-14 days.
                </p>
              </div>
            </div>
          </div>
          <br />
        </div>
      </section>
      <footer class="top-footer-section font-small special-color-dark pt-4">
        <div class="container">
          <div class="row">
            <div class="col-md-5 mb-4 pt-1 left-footer-section">
              <a href="https://www.pmcares.gov.in/en/web/contribution/donate_india">Donate To Pm care Fund <i
                  class="fas fa-hand-holding-usd pl-2 "></i></a>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5  mb-4 pt-1 right-footer-section">
              <a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN">Download Arogya Setu
                App<i class="fab fa-google-play pl-2 "></i></a>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <center>
</body>

</html>