<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="Bootstrap/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap/CSS/mainstyle.css">

   
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
 
<title>Covid-19</title>
<style>
 
  .card{
      width:30%;
      height:60%;
      background:rgb(251, 251, 251);
      transition: 0.1s; 
      border:none; 
  }
  .card-header{
    width: 100%;
    height:100%;
    
  }
 .card-header img{
     text-align:center; 
     position:relative;
     border-radius:50%;
     left:10px;
     width:50%;
     height:70%;
     margin-left:auto;
     margin-right:auto;
    }
.card-body{
    padding:30px 20px;
    text-align:center;
    font-size:18px;
   
}
.card:hover{
   margin-top:-2px;
    box-shadow:0px 0px 10px black;
}
.social-media{
  display:flex;
  justify-content: center;

}
.social-media a{
  display:flex;
  background:#f5f6fa;
  height:40px;
  width:40px;
  border-radius:50%;
  margin:0 10px;
  border-radius:8px;
  align-items:center;
  justify-content:center;
  text-align:center;
  text-decoration:none;
  box-shadow: 1px 4px 2px 2px #b6b7b9,
             -6px -6px 10px -1px  rgba(255,255,255,0.7);
   border:1px solid rgba(0,0,0,0);
   transition: transform 0.5s;

}
.social-media a i{
  font-size: 35px;
  color:#3b5998;
  transition:transform 0.5s;
}
.social-media a .fa-linkedin{
  color:#00acee;
}
.social-media a .fa-instagram{
  color:#f14843;
}
.social-media a:hover{
   box-shadow: inset 4px 4px 10px -1px rgba(0,0,0,0.2),
             -4px -4px 6px -1px  rgba(255,255,255,0.7),
             -0.5px -0.5px 0px   rgba(255,255,255,1),
              0.5px 0.5px 0px   rgba(0,0,0,0.15),
               0px 12px 10px -10px rgba(0,0,0,0.05);
   
   border:1px solid rgba(0,0,0,0.01);
   transform: translateY(2px);
}
.social-media a:hover i{
  transform: scale(0.90);
}
.social-media a:hover i{
  color:#777;
}


@media   Screen and (max-width: 1000px){
  .card{
    width: 100%;
    
  }

}
@media(max-width:290px){
  .middle-section .card-header{
    padding-right:100px;
   }
  
}
</style>
</head>
<body>
   <center>
  <div style="max-width:1440px;width:100%; height:100%;">
  <div class='TopNavigation'>
    <header class="navigation" style="max-width:1180px;">
        <div class="bottomHeader">
          <div class="container-fluid">
            <nav class="navbar navbar-dark  navbar-expand-md">
               <div class="logo">
                <a class="navbar-brand m-3" style="font-weight: 900;" href="/"> <span style="color:rgb(1, 79, 224)">Covid</span>-19<span
                    class="logo-text" style="color:red"> Alert</span></a>
              </div>
              <div class="spacer"></div>
              <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse"  style="flex-direction: column;" id="navbarToggler">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/covid">Covid-19</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="/awareness">Awareness</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/teams">Teams</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
     </header>
    </div>
  <section class="middle-section">
     <div class="container-fluid">
       <div class="team_heading">
         <div class="row">
            <div class="col-lg-12">
              <h2 style="text-align:center; color:black; font-weight:700;" class="pt-2">Meet Our Teams</h2>
           </div>
         </div>
       </div>
        <div class="row pt-2">
          <div class="col-lg-6">
           <div class="card-deck">
             <div class="card">
                <div class="card-header">
                   <img  style="border:6px solid #ffcc00" class="card-img  m-2" src="images/pramod1.jpg" alt="Card image cap">
                </div>
                <div class="card-body">

                  <h5 style="color:rgb(28, 31, 30);" class="card-title">Pramod Barnwal</h5>
                  <p  style="color:rgb(28, 31, 30); " class="card-text">Front End Developer(NIIST, Bhopal)</p>
                  <div class="social-media">
                  <a  href="https://www.facebook.com/pramod.barnwal.10/"><i class="fab fa-2x fa-facebook"></i></a>
                  <a  href="https://www.linkedin.com/in/pramod-kumar-503570175/"><i class="fab fa-2x fa-linkedin"></i></a>
                  <a  href="https://www.instagram.com/pk_barnwal/" class="p-1"><i class="fab fa-2x fa-instagram"></i></a>
                </div>
                </div>
                <div>
                  
                </div>
             </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-deck">
             <div class="card">
                <div class="card-header background-circle circle">
                  <img  style="border:6px solid  #ffcc00;" class= "card-img m-2" src="images/kishan1.jpeg" alt="Card image cap" width="200px" height="200px">
                </div>
               <div class="card-body">
                 <h5 style="color:rgb(28,31,30);" class="card-title">Kishan Gupta</h5>
                 <p style="color:rgb(28,31,30);" class="card-text">Full Stack Web-Developer(NIIST,Bhopal) </p>
                <div class="social-media">
                  
                 <a  href="https://www.facebook.com/profile.php?id=100022584036258" class="p-1"><i class="fab  fa-facebook"></i></a>
                 <a  href="https://www.linkedin.com/in/kishan-gupta-b13539195/" class="p-1"><i class="fab  fa-linkedin"></i></a>
                 <a  href="https://www.instagram.com/weed_say/" class="p-1"><i class="fab  fa-instagram"></i></a>
                </div>
               </div>
               <div>
                

               </div>
             </div>
           </div>
          </div>
     </div>
   </div>
  </section>
 <footer class="top-footer-section font-small special-color-dark pt-4">
      <div class="container">
        <div class="row">
           <div class="col-md-5 mb-4 pt-1 left-footer-section">
            <a href="https://www.pmcares.gov.in/en/web/contribution/donate_india">Donate To PM Care Fund <i class="fas fa-hand-holding-usd pl-2 "></i></a>   
         </div>
         <div class="col-md-2"></div>
         <div class="col-md-5  mb-4 pt-1 right-footer-section">
            <a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN">Download Arogya Setu App<i class="fab fa-google-play pl-2 "></i></a>
         </div>
       </div>
     </div>
     </footer>
   </div>
   </center>  

 </body>
 <script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>
