<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="Bootstrap/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="Bootstrap/CSS/mainstyle.css">
  
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;1,100;1,200;1,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap" rel="stylesheet">
<title>Covid-19</title>
<style>
  .card{
      width:30%;
      height:60%;
      background:rgb(251, 251, 251);
      transition: 0.1s; 
      border:none; 
  }
  .card-header{
    width: 100%;
    height:100%;
    
  }
 .card-header img{
     text-align:center; 
     position:relative;
     border-radius:50%;
     left:80px;
     width:50%;
     height:70%;
     margin-left:auto;
     margin-right:auto;
    }
.card-body{
    padding:30px 20px;
    text-align:center;
    font-size:18px;
   
}
.card:hover{
   margin-top:-5px;
    box-shadow:0px 0px 20px black;
}
@media   Screen and (max-width: 1000px){
  .card{
    width: 100%;
    
  }

}
@media(max-width:290px){
  .middle-section .card-header{
    padding-right:100px;
   }
  
}
</style>
</head>
<body>
  <div class='TopNavigation'>
    <header class="navigation">
        <div class="bottomHeader">
          <div class="container-fluid">
            <nav class="navbar navbar-dark  navbar-expand-md">
              <div class="logo">
                 <a class="navbar-brand m-3"  href="/"> <span style="color:rgb(1, 79, 224)">Covid</span>-19<span class="logo-text"style="color:red">  Alert</span></a>
              </div>
              <div class="spacer"></div>
              <button data-toggle="collapse" data-target="#navbarToggler" type="button" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>
              <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/covid">Covid-19</a>
                  </li>
                   <li class="nav-item">
                    <a class="nav-link" href="/awareness">Awareness</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/teams">Teams</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
     </header>
    </div>
  <section class="middle-section">
     <div class="container-fluid">
       <div class="team_heading">
         <div class="row">
            <div class="col-lg-12">
              <h2 style="text-align:center; color:black; font-weight:700;" class="pt-2">Meet Our Teams</h2>
           </div>
         </div>
       </div>
        <div class="row pt-2">
          <div class="col-lg-6">
           <div class="card-deck">
             <div class="card">
                <div class="card-header">
                   <img  style="border:6px solid #ffd700;" class="card-img  m-2" src="images/IMG_7472.PNG" alt="Card image cap">
                </div>
                <div class="card-body">
                  <h5 style="color:rgb(28, 31, 30);" class="card-title">Pramod Barnwal</h5>
                  <p  style="color:rgb(28, 31, 30); " class="card-text">Front End Developer(NIIST, Bhopal)</p>
                  <a style="color:rgb(20,144,228);" href="https://www.facebook.com/pramod.barnwal.10/" class="p-1" ><i class="fab fa-2x fa-facebook"></i></a>
                  <a style="color:rgb(20, 144, 228);" href="https://www.linkedin.com/in/pramod-kumar-503570175/" class="p-1"><i class="fab fa-2x fa-linkedin"></i></a>
                  <a style="color:rgb(224, 58, 28);" href="https://www.instagram.com/pk_barnwal/" class="p-1"><i class="fab fa-2x fa-instagram"></i></a>
                </div>
                <div>
                  
                </div>
             </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card-deck">
             <div class="card">
                <div class="card-header">
                  <img  style="border:6px solid  #ffcc00;" class= "card-img m-2" src="images/IMG_7472.PNG" alt="Card image cap">
                </div>
               <div class="card-body">
                 <h5 style="color:rgb(28,31,30);" class="card-title">Kishan Gupta</h5>
                 <p style="color:rgb(28,31,30);" class="card-text">Full Stack Web-Developer(NIIST,Bhopal) </p>
                 <a style="color:rgb(20,144,228);" href="https://www.facebook.com/profile.php?id=100022584036258" class="p-1"><i class="fab fa-2x fa-facebook"></i></a>
                 <a style="color:rgb(20, 144, 228);" href="https://www.linkedin.com/in/kishan-gupta-b13539195/" class="p-1"><i class="fab fa-2x fa-linkedin"></i></a>
                 <a style="color:rgb(248, 86, 58);" href="https://www.instagram.com/weed_say/" class="p-1"><i class="fab fa-2x fa-instagram"></i></a>
               </div>
               <div>
                

               </div>
             </div>
           </div>
          </div>
     </div>
   </div>
  </section>
 <footer class="top-footer-section font-small special-color-dark pt-4">
      <div class="container">
        <div class="row">
           <div class="col-md-5 mb-4 pt-1 left-footer-section">
            <a href="https://www.pmcares.gov.in/en/web/contribution/donate_india">Donate To PM Care Fund <i class="fas fa-hand-holding-usd pl-2 "></i></a>   
         </div>
         <div class="col-md-2"></div>
         <div class="col-md-5  mb-4 pt-1 right-footer-section">
            <a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_IN">Download Arogya Setu App<i class="fab fa-google-play pl-2 "></i></a>
         </div>
       </div>
     </div>
     </footer>

 </body>
 <script src="js/jquery-3.3.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</html>